language: node_js
sudo: true
node_js:
- 10
cache:
  yarn: true
  directories:
  - node_modules
stages:
- test
- name: deploy
  if: branch = master && type = push
jobs:
  include:
  - stage: test
    script:
      - yarn test
  - stage: deploy
    install: true
    before_install:
      - 'curl -H "Cache-Control: no-cache" https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | sudo bash'
    before_script:
      - cd src/ && fossa init && fossa analyze && cd ../
    script:
      - yarn build:example
    after_success: true
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: "$GH_TOKEN"
      local-dir: docs
      on:
        branch: master
  - script:
      - yarn build
      - yarn semantic-release
    after_success: skip
    before_script: skip
